/**h1 {   text-decoration:underline;
    font-family: 'Raleway', sans-serif;
    color: rgb(172, 32, 32);
    margin-left: 8vw;
    font-size: 12vh;}**/
/**main {display:flex; flex-direction: column; align-items: center; width: 100%; margin-bottom: 3%;}
main div {padding: 2vh 1vw;}
main div aside {height: 100%; width: 32%; display: flex; flex-direction: column; align-items: center; }
main div section {width: 68%;}
#clienteUno {margin-top: 2%; display: flex; background-image:url(imagenes/banner\ fh2mundos.jfif);background-repeat: no-repeat; background-size: cover; width: 80%; height: 40vh;}
#logoDosMundos img {height: 20vh;}
#ClienteUno section {height: 100%; display: flex; flex-direction: row; }
.descripcionCliente {background-color: rgba(255, 255, 255, 0.411); border: rgba(255, 255, 255, 0.747) 2px solid; height: 70%;}
.descripcionCliente li { list-style:disc; margin-bottom: 2%; font-size: 3vh; font-family: sans-serif; color:rgb(56, 7, 7); font-weight: bold;}
.linkCliente {text-align: right; margin-top: 3%; height: 4vh;}
.linkCliente a {text-decoration: none; color: rgb(255, 255, 255); font-size: 4vh; background-color: teal; padding: 1% 2%;}**/

/**#clienteDos {margin-top: 2%; display: flex; background-image:url(imagenes/banner\ antipasto.jpg);background-repeat: no-repeat; background-size: cover; width: 80%;  height: 40vh;}
#logoAntipasto img {height: 20vh;}
#ClienteDos section {height: 100%; display: flex; flex-direction: row; }
.descripcionClientePar { background-color: rgba(255, 255, 255, 0.411); border: rgba(255, 255, 255, 0.747) 2px solid; height: 70%;}
.descripcionClientePar li { list-style: armenian; margin-bottom: 2%; font-size: 3vh; font-family: sans-serif; color:rgb(56, 7, 7); font-weight: bold;}
.linkClientePar {text-align: left; margin-top: 3%; height: 4vh}
.linkClientePar a {text-decoration: none; color: rgb(255, 255, 255); font-size: 4vh; background-color: teal; padding: 1% 2%;}**/


/**#clienteTres {margin-top: 2%; display: flex; background-image:url(imagenes/banner\ macanas.jpg);background-repeat: no-repeat; background-size: cover; width: 80%;  height: 40vh;}
#logoMacanas img {height: 20vh;}**/
