#construccion{
    h1.titulo,h2.subtitulo {
        display:inline-block;
    }
}
    .construccion {
        &__divisor {
            display: flex;
            box-sizing: border-box;
            flex-direction: row;
            padding: 5% 5%;
            justify-content: space-between;
        }
        &__imagen {
            width: 65%;
            height: auto;
        }
        &__mensaje{ 
            width: 30%;
            p {
                font-size: $tamanoTexto;
                color: $color-texto;
                display: inline-block;
            }
        }
        &__link {
            height: 30%;
        }
    
    }
@media screen and (max-width:800px) and (min-width:531px){
    .construccion__mensaje p {
        font-size: $tamanoTexto*0.8;
    }
}
@media screen and (max-width:530px) and (min-width:0px){
    .construccion{
        &__divisor {
            flex-direction: column;
            align-items: center;
        }
        &__imagen {
            width: 100%;
            height: auto;
        }
        &__mensaje {
            margin-top: 5%;
            width: 100%;
            p {
                font-size: $tamanoTexto*0.6;
            }
    }
    }
}