#index {

.titulo,h2.subtitulo {
    display: inline-block;
    margin-top: 0;
}
}
.divisorClientes {
    padding-top: 20px;
    padding-bottom: 40px;
}
span.icon-cheveron-outline-right {
    line-height: $tamanoTextoFooter*1.5;
}

.btnMain {
    display: flex;
    align-content: center;
    height: 12px;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 12px;
    padding: 4px 6px;
    background-color: $color-fondo*1.85;
    border: 1px solid #4d898b;
    border-radius: 50px;
    height: max-content;
    width: max-content;
    color: $color-titulo;
    &__contenedor {
        display: flex;
        align-content: center;
        &:hover {
            animation: pulsate-fwd 2.5s;
            animation-iteration-count: infinite;
        }
    }
    &__texto {
        display: inline-block;
        font-size: $tamanoTextoFooter;
        margin: 0 ;
    }
    &__span {
        display: inline-block;
        font-size: $tamanoTextoFooter;
        margin-left: 6px;
    }
    &:hover {
        background-color: #4d898b;
        color: rgb(202, 199, 199);
        border: 1.5px solid #123738;
        transition: 0.5s;
    }
}
.seccionUno { /*BLOQUE 3*/
    padding: 2vh 2vw;
    max-width: 100%;
    min-height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__div {
        width: 45%;
    }
    &__video {
        width: 100%;
        height: auto;
    }    
    &__cuadro {
        background-color: rgba(254, 255, 255, 0.315);
        border: solid 1px;
        border-color: rgba(50, 56, 56, 0.582);
        max-width: 45%;
        min-height: 100%;
        padding: 2%;
    }
    &__texto {
        font-size: $tamanoTexto;
        font-family: $fuente-texto;
        font-style: italic;
        color:$color-texto;
    }
}

.seccionDos { /*BLOQUE 4*/
    height: max-content;
    margin-bottom: 0;
    padding-top: 10px;
    max-width: 100%;
    background-image: url(../../Imagenes/Clientesfondo.jpeg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    &__contenedor {
        display: flex; 
        flex-direction:column; 
        align-content: flex-start;
        justify-content: center;
        min-height: max-content;
        padding: 5vh 5%;
    }
    
    &__subtitulo {
        margin-left: 4% ; 
        font-family: $fuente-secundaria;
        color: $color-subtitulo;
        font-size: $tamanoSubtitulo*0.7;
    }
    &__servicios {
        padding: 1vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 45%; 
        min-height: max-content; 
        border-radius: 15px;
        background-color: rgba(37, 33, 33, 0.274);
        border: $color-cuadro 3px solid;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        &--medio { 
            margin: 2vh 0;
        }
    }
    &__parte1 {
        display: box;
    }
    &__icono {
        width: 25%;
        height: 25%;
        margin: 10px;
        margin-left: 0;
    }
    &__texto {
        margin: 4%;
        display: inline-block; 
        font-family: $fuente-texto;
        width: 80%;
        color: $color-texto ;
        font-size: $tamanoTexto/1.8;
        // font-weight: bolder;   
        text-align:justify ;
    }
}

@media screen and (max-width:1200px) {
    .seccionUno {
        &__div {
            width: 75%;
        }
        &__cuadro {
            margin-top: 0;
            max-width: 20%;
            padding: 1%;
        }
        &__texto {
            font-size: $tamanoTexto*0.8;
        }
    }
}
@media screen and (max-width:1080px) and (min-width:964px) {
    .seccionUno {
        &__texto {
            font-size: $tamanoTexto*0.7;
        }
    }
}

@media screen and (max-width:963px) and (min-width:578px) {
    .seccionDos {
        &__subtitulo {
            font-size: $tamanoSubtitulo*0.5;
        }
        &__servicios {
            width: 60%;
            }
    }
    .seccionUno {
        &__texto {
            font-size: $tamanoTexto*0.6;
        }
    }
    .btnMain {
        &__texto {
           font-size: $tamanoTextoFooter*0.7;
        }
        &__span {
            font-size: $tamanoTextoFooter*0.7;
        }
    }
    span.icon-cheveron-outline-right {
        line-height: $tamanoTextoFooter*1.5*0.7;
    }
}
@media screen and (max-width:812px) and (min-width:578px){
    .seccionUno {
        &__texto {
            font-size: $tamanoTexto*0.5;
        }
    }
    .seccionDos {
        &__servicios {
            width: 75%;
        }
    }    
    .btnMain {
        &__texto {
           font-size: $tamanoTextoFooter*0.6;
        }
        &__span {
            font-size: $tamanoTextoFooter*0.6;
        }
    }
    span.icon-cheveron-outline-right {
        line-height: $tamanoTextoFooter*1.5*0.6;
    }
}

@media screen and (max-width:699px) and (min-width:578px) {
    .seccionUno {
        &__texto {
            font-size: $tamanoTexto*0.4;
        }
    }
}

@media screen and (max-width:577px) {
    .seccionUno {
        flex-direction: column;
        &__div {
            width: 100%;
        }
        &__cuadro {
            min-width: 100%;
            padding: 2%;
        }
        &__texto {
            font-size: $tamanoTexto*0.6;
        }
    }
    h3.subtitulo {
        font-size: $tamanoTitulo*0.8;
        &--main {
            color: #310400;
        }
    }

    .seccionDos {
        background-image: url(../../Imagenes/Serviciosbg2.jpg);
        background-size: cover;
        &__contenedor {
            display: block; 
            height: max-content;
            
        }
        &__icono {
            width: 30%;
            height: 30%;
            margin-top: 0;
        }
        &__servicios {
            width: 90%;
            padding-top: 4%; 
            margin-top: 4%;
            margin-left: 5%;
            margin-right: 5%;
            margin-bottom: 4%;
            // align-items: flex-start;
        }
        &__texto {
            font-size: $tamanoTexto*0.6;
            text-align: left;
        }
        &__subtitulo {
            font-size: $tamanoSubtitulo*0.75; 
            margin-top: 0vh;
        }
    }
    .btnMain {
        &__texto {
           font-size: $tamanoTextoFooter*0.6;
        }
        &__span {
            font-size: $tamanoTextoFooter*0.6;
        }
    }
    span.icon-cheveron-outline-right {
        line-height: $tamanoTextoFooter*1.5*0.6;
    }
}
@-webkit-keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    12.5% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    25% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-fwd {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    12.5% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
    25% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
