#conocenos{
    padding-top: 80px;
    h1.titulo {
        margin-left: 5%;
    }
    .push {
        margin-top: auto;
    }
}

.quienesSomos {/**BLOQUE 1*/
    
    .subtitulo {
        font-size: $tamanoTitulo;
    }
    &__section {
        padding: 1.5rem;
        padding-top: 3vh;
        background-color: $color-cuadro;
        width: 92%;
        margin: 0 auto;
        min-height: max-content;
        &--primera {
            width: 100%;
            height: 80vh;
            padding: 0rem;
            padding-top: 3vh;
            background: url(../../Imagenes/fondo-conocenos2.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            
        }
    }
    .push {
        margin-top: auto;
    }
    &__cuadro {
        width: 100%;
        height: max-content;
        padding: 1% 5%;
        align-self: flex-end;
        background: rgb(119, 119, 119); /* Fallback color */
        background: rgba(119, 119, 119, 0.37); 
    }
    &__subtitulo {
        font-family: $fuente-secundaria;
        color: $color-subtitulo;    
        font-size: $tamanoSubtitulo;
        inline-size: 2px;
        &--dos {
            inline-size: auto;
            margin-top: 20px;
            margin-left: 5%;
        }
    }
    &__texto {
        font-family: $fuente-texto;
        font-size: $tamanoTexto;
        color: $color-conocenosTexto;
    }
    &__nombre {
        font-family: 'Ubuntu', sans-serif;
        color: $color-subtitulo;  
        font-size: $tamanoSubtitulo*0.85;
    }
    &__retrato {
        float: left; 
        margin-right:10px;
        margin-bottom: 10px;
        width: 10rem;
        height: auto;
    }

}
.personas {
    padding: 8vh 5vh 10vh 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.tarjeta {
    box-sizing: content-box;
    width: $anchoTarjeta;
    height: $altoTarjeta;
    margin:8px;
    background-color: $color-persona;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-shadow: 0px 0px 5px 3px rgba(59, 47, 47, 0.589);
    &__imagen {
        width: auto;
        height: 50%;
        margin-top:15px
    }
    &__datos {
        width: 100%;
        height: 100%;
        margin-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__nombre {
        font-family: big_noodle_titling;
        margin-bottom: 4px
    }
    &__puesto {
        font-size: 18px;
        color: grey;
        margin-top: 4px;
        font-family: TommyMedium;
        text-align: center;
    } 
    &__link {
        width: 100%;
        text-decoration: none;
        background-color: $color-nav;
        color: rgb(6, 10, 15);
        text-align: center;
        font-size: 25px;
        &:hover {
            color: $color-contenidoFooter;
            background-color: $color-btnCliente;
        }
    }
    &__listado {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 80%;
        padding:0;
        text-decoration: none;
        list-style: none;
    }
    &__li {
        cursor: pointer;
        border: 1px solid $color-conocenos;
        background-color: $color-persona;
        padding: 5px;
        border-radius: 100%;
        height: 100%;
        line-height: 3.5vh;
        &:hover {
            border: 1px solid $color-subtitulo;
            background-color: $color-conocenos;
        }
        
    }
    &__ahref {
        text-decoration: none;
    }
}

@media screen and (max-width:1000px) and (min-width:700px) {
    .quienesSomos {
        .subtitulo {font-size: $tamanoSubtitulo*0.75;}
        &__subtitulo{
            font-size: $tamanoSubtitulo*0.75;
        }
        &__texto {
            font-size: $tamanoTexto*0.75 ;
        }
        &__nombre {
            font-size: $tamanoSubtitulo*0.70;
        }
        &__retrato {
            width: 8rem;
        }
    }
}


@media screen and (max-width:699px) and (min-width:0px) {
    .quienesSomos {
        .subtitulo {font-size: $tamanoSubtitulo*0.75;}
        &__subtitulo{
            font-size: $tamanoSubtitulo*0.6;
        }
        &__texto {
            font-size: $tamanoTexto*0.6 ;
        }
        &__nombre {
            font-size: $tamanoSubtitulo*0.5;
        }
        &__retrato {
            width: 6rem;
        }
    }
}

@media screen and (max-width:750px) and (min-width: 601px){
    .tarjeta {
        box-sizing: content-box;
        width: $anchoTarjeta*0.8;
        height: $altoTarjeta*0.8;
        margin:4px;
        background-color: $color-persona;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 0px 5px 3px rgba(59, 47, 47, 0.589);
        &__imagen {
            width: auto;
            height: 50%;
            margin-top:10px
        }
        &__datos {
            width: 100%;
            height: 100%;
            margin-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__nombre {
            font-family: big_noodle_titling;
            margin-bottom: 4px
        }
        &__puesto {
            font-size: 12px;
            color: grey;
            margin-top: 4px;
            font-family: TommyMedium;
            text-align: center;
        } 
        &__link {
            width: 100%;
            text-decoration: none;
            background-color: $color-nav;
            color: rgb(6, 10, 15);
            text-align: center;
            font-size: 20px;
            &:hover {
                color: $color-contenidoFooter;
                background-color: $color-btnCliente;
            }
        }
        &__listado {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            width: 80%;
            padding:0;
            text-decoration: none;
            list-style: none;
        }
        &__li {
            cursor: pointer;
            border: 1px solid $color-conocenos;
            background-color: $color-persona;
            padding: 4px;
            border-radius: 100%;
            height: 100%;
            line-height: 3vh;
            &:hover {
                border: 1px solid $color-subtitulo;
                background-color: $color-conocenos;
            }
            
        }
        &__ahref {
            text-decoration: none;
        }
    }
    
}
@media screen and (max-width:600px) and (min-width:460px){
    .personas {
        flex-direction: column;
        align-items: center ;
    }
    .tarjeta {
        width: $altoTarjeta;
        height: $anchoTarjeta;
        margin:8px;
        flex-direction: row;
        &__imagen {
            width: auto;
            height: 94%;
            margin:2%;
        }
        &__datos {
            height: 97.5%;
            padding-top: 3%;
        }
        &__nombre {
            margin-bottom: 4px
        }
        &__puesto {
            font-size: 18px;
            margin-top: 4px;
            font-family: TommyMedium;
        } 
        &__link {
            font-size: 25px;
        }
        &__li {
            padding: 5px;
            border-radius: 100%;
            line-height: 3.5vh;
          
        }
    }
    
}
@media screen and (max-width:459px) and (min-width:0px){
    .personas {
        flex-direction: column;
        align-items: center ;
    }
    .tarjeta {
        box-sizing: content-box;
        width: $altoTarjeta*0.7;
        height: $anchoTarjeta*0.7;
        margin:8px;
        background-color: $color-persona;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        box-shadow: 0px 0px 5px 3px rgba(59, 47, 47, 0.589);
        &__imagen {
            width: auto;
            height: 94%;
            margin:2%;
        }
        &__datos {
            width: 100%;
            height: 97%;
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__nombre {
            font-family: big_noodle_titling;
            margin-bottom: 4px
        }
        &__puesto {
            font-size: 10px;
            margin-top: 2px;
        } 
        &__link {
            width: 100%;
            text-decoration: none;
            background-color: $color-nav;
            color: rgb(6, 10, 15);
            text-align: center;
            font-size: 18px;
            &:hover {
                color: $color-contenidoFooter;
                background-color: $color-btnCliente;
            }
        }
        &__listado {
            margin-bottom: 8px;
            margin-top: 8px;
        }
        &__li {
            cursor: pointer;
            border: 1px solid $color-conocenos;
            background-color: $color-persona;
            padding: 5px;
            border-radius: 100%;
            height: 100%;
            line-height: 3.5vh;
            &:hover {
                border: 1px solid $color-subtitulo;
                background-color: $color-conocenos;
            }
            
        }
        &__ahref {
            text-decoration: none;
        }
    }
}