$tamanoTitulo: 8vh;
$tamanoSubtitulo: 6vh;
$tamanoTexto: 4vh;
$tamanoBtnCliente: 3vh;
$tamanoMenu: 30px;
$tamanoSubmenu: 15px;
$tamanoNav: 80px;
$tamanoTextoFooter: 20px;
$anchoTarjeta:215px;
$altoTarjeta:430px;